@media(max-width:768px){
   .services{
      padding-left:20%
   }
}
@media(min-width:1200px){
   .slide img{
      height:80vh;
   }
   .on{
      color:red;
      position:absolute;
      bottom:30%;
      left:10%;
      font-size:900;
   }
   }
   body{
 font-family:'Helvetica, Sans-Serif';

   }
  #exampleModalLabel{
   color:white !important;
  }
   /* #featured-3{
      position:relative;
   
   } */
   .parent{
      background-color:black;
      border-radius: 20%;
   }
   .name{
      position:absolute;
      top:10%;
      left:10%;
      z-index:1;
      color:black;
      background-color:white;
      opacity: 75%;
      border-radius: 10px;
      width:70%
   }


   .hi{
      position:relative;

   }
   .col-form-label{
      color:white;
   }
