<!-- Make this error 404 page  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        /* Make this centre */
        h1{
            text-align: center;
            font-size: 50px;
            color: black;
        }
    </style>
</head>
<body>
    <img style="width: 100vw;" src="https://www.searchenginejournal.com/wp-content/uploads/2020/08/404-pages-sej-5f3ee7ff4966b.png">
</body>
</html>